<!DOCTYPE html>
<html>
<title>SlideCast</title>
<link rel="stylesheet" href="../static/presenter/css/w3.css">
<style>
.mySlides {display:none}
</style>
<body bgcolor = "black">

<div class="w3-container notss">
  <h2 font-color = "white">Powered by SlideCast</h2>
  </div>

<div class="w3-content slideshow" id = "imagecontainer" style="max-width:100%">

</div>

<div class="w3-center notss">
  <div class="w3-section" id = "nxtprev"  style = "display:none">
    
  </div>
  <div id = "slide-button">
     
  </div>

</div>


<script type="text/javascript" src="../static/presenter/js/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="../static/presenter/js/jquery.cookie.js"></script>
<script type="text/javascript" src="../static/presenter/js/mainadmin.js"></script>
  
</body>
</html>

