<!DOCTYPE html>
<html>
<title>SlideCast</title>
<link rel="stylesheet" href="../static/presenter/css/w3.css">
<style>
.mySlides {display:none}
</style>
<body>

<div class="w3-container w3-center">
  <h2 >Powered by SlideCast</h2>
  </div>

<div class="w3-content" id = "imagecontainer" style="max-width:80%">

</div>

<div class="w3-center">
  <div class="w3-section" id = "nxtprev" onclick="uncheck()">
    
  </div>

  <div>
  <a href = "../media/SlideCast.pdf">Download</a>


  	 <!-- <label class="switch">
      <input id ="chkbox" type="checkbox" name = "sync" checked>Auto-sync
    <div class="slider"></div>
</label>	 -->

  </div>
  
  <div id = "slide-button" ">
    
  </div>

</div>

<script type="text/javascript" src="../static/presenter/js/main.js"></script>
  
</body>
</html>

