{% extends 'presenter/base.html' %}
{% block title %}On Air{% endblock %}
{% block onair_active %}active{% endblock %}


{% block body %}
<div class="albums-container container-fluid">

{% if onair.current_presentation %}    
    <div class="row">
        <div class="col-sm-12">
            <h3>The following presentation is on air:</h3>
        </div>        
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Options</th>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr>
                                        <td>{{ onair.current_presentation.title }}</td>
                                        
                                        <td>
                                           <a href="{% url 'presenter:detail' onair.current_presentation.id %}" class="btn btn-primary btn-sm" role="button">View Details</a>
                                           <a href="{% url 'presenter:golive' onair.current_presentation.id %}" class="btn btn-primary btn-sm" role="button">Presenter's View</a>
                                           <a href="{% url 'presenter:golive_viewer' %}" class="btn btn-primary btn-sm" role="button">Audience's View</a>
                                           <form action="{% url 'presenter:stoplive' %}" method="post" style="display: inline;">
                                            {% csrf_token %}
                                                <button type="submit" class="btn btn-danger btn-sm">
                                                    <span class="glyphicon glyphicon-remove"></span>&nbsp; Stop Broadcast
                                                </button>
                                            </form>
                                        </td>
                                        
                                    </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
            <div class="col-sm-10">
                <h2>No presentation is on air.</h2>
            </div>
        
    {% endif %}

</div>
{% endblock %}
